@import url("Home.css");

._valueInput {
    width: 100%;
    max-width: 900px;
    height: auto;
    align-self: flex-start;
}

._formInput {
    border-radius: 10px;
    background-color: #40444b !important;
    color: #dcddde;
    border-width: thin;
    border: 5px solid #40444b;
    font-size: medium;
}

    ._formInput:focus {
        outline-color: #40444b;
        outline: none;
        /*var(--discord-blurple);*/
    }

._formCritical {
    border: 5px solid red !important;
    border-width: thin;
}

    ._formCritical:focus {
        outline-color: #f44336 !important;
        outline: none;
        /*var(--discord-blurple);*/
    }

._formWarning {
    border: 5px solid #eed202 !important;
    border-width: thin;
}

    ._formWarning:focus {
        outline-color: #eed202 !important;
        outline: none;
        /*var(--discord-blurple);*/
    }

._commandInput {
    height: auto;
    margin-left: 4px;
}


.valueDiv {
    /*margin-left: 5px;*/
    justify-content: flex-start;
}

.betweenDiv20 {
    height: 20px;
}

.betweenDiv5 {
    height: 5px;
}

._formButton {
    font-size: 16px;
    border-radius: 10%;
    transition-duration: .4s;
    margin: 0px 8px 0px 8px;
    background-color: var(--discord-dark);
    color: var(--discord-fullwhite);
}

    ._formButton:hover:enabled {
        /*border-radius: 10%;*/
        color: var(--discord-dark);
    }

    ._formButton:focus:enabled {
        color: var(--discord-dark);
        /*outline: none;*/
    }

    ._formButton:disabled {
        opacity: .25;
    }

._acceptButton {
    /*background-color: var(--discord-dark);*/
    /*color: var(--discord-fullwhite);*/
    border: 2px solid #4CAF50; /* Green */
    background-color: #4CAF50;
    color: var(--discord-dark);
}

    ._acceptButton:hover:enabled {
        background-color: var(--discord-dark);
        color: #4CAF50;
        /*color: var(--discord-dark);*/
    }

    ._acceptButton:focus:enabled {
        outline-color: #4CAF50;
        /*color: var(--discord-dark);*/
    }



._cancelButton {
    border: 2px solid #e7e7e7; /* Grey */
    background-color: #e7e7e7;
    color: var(--discord-dark);
}

    ._cancelButton:hover:enabled {
        background-color: var(--discord-dark);
        color: #e7e7e7;
    }

    ._cancelButton:focus:enabled {
        outline-color: #e7e7e7;
    }

._deleteButton {
    border: 2px solid #f44336; /* Red */
    background-color: #f44336;
    color: var(--discord-dark);
}

    ._deleteButton:hover:enabled {
        background-color: var(--discord-dark);
        color: #f44336;
    }

    ._deleteButton:focus:enabled {
        outline-color: #f44336;
    }

._buttonDiv {
    width: calc(63px * 3);
    justify-self: flex-start;
    flex-grow: 1;
    align-content: flex-start;
    justify-content: flex-start;
    display: flex;
}

._inputText {
    font-size: medium;
    text-align: center;
}

._commandPrefix {
    font-size: large;
    align-self: center;
}

._checkboxLabel {
    margin: auto 0px auto 4px;
}



._collapsible {
    background-color: var(--discord-notquiteblack);
    color: #dcddde;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 1200px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

    ._collapsible:hover {
        transition: .2s;
        background-color: var(--discord-greyple);
        color: var(--discord-dark);
    }

._collapsed {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

._maxWidth{
    max-width: 1200px;
}

._responseRow {
    height: auto;
    min-height: 32px;
    width: 100%;
    box-shadow: var(--discord-dark) 2px 2px inset;
    text-align: left;
    margin-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
._responseText {
    height: auto;
    font-size: medium;
    text-align: left;
    flex-grow: 1;
    max-width: none;
}

._responseRowButtons{
    width: 150px;
    height: 40px;
    margin-left: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

._modOnlyButton {
    background-color: var(--discord-dark);
    border: 0px;
    padding: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

    ._modOnlyButton:hover {
        background-color: var(--discord-greyple);
        transition: .3s;
    }
    ._modOnlyButton:disabled {
        background-color: var(--discord-dark);
        cursor: default;
    }

._modOnlyIcon {
    width: 32px;
    height: 32px;
}


._notModOnly {
    filter: grayscale(100%);
    opacity: .4;
}

._deletedText{
    text-decoration: line-through;
}

